<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{526,866},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,365}</string>
                <key>spriteSourceSize</key>
                <string>{365,365}</string>
                <key>textureRect</key>
                <string>{{440,1184},{365,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,436}</string>
                <key>spriteSourceSize</key>
                <string>{437,436}</string>
                <key>textureRect</key>
                <string>{{1,1184},{437,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,523}</string>
                <key>spriteSourceSize</key>
                <string>{523,523}</string>
                <key>textureRect</key>
                <string>{{1,659},{523,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,656}</string>
                <key>spriteSourceSize</key>
                <string>{656,656}</string>
                <key>textureRect</key>
                <string>{{1,1},{656,656}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spacecraft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,205}</string>
                <key>spriteSourceSize</key>
                <string>{205,205}</string>
                <key>textureRect</key>
                <string>{{526,659},{205,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_texture.png</string>
            <key>size</key>
            <string>{806,1621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfe7b982a7c4fad1dbfdfddf3ac429ca:8a0ddc329a94f380e0f9c11561a057c4:8e03d1da629280c9895e20d869dece19$</string>
            <key>textureFileName</key>
            <string>gameplay_texture.png</string>
        </dict>
    </dict>
</plist>
