<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StarTrek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1118,147}</string>
                <key>spriteSourceSize</key>
                <string>{1118,147}</string>
                <key>textureRect</key>
                <string>{{0,0},{1118,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{346,345}</string>
                <key>textureRect</key>
                <string>{{0,345},{346,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,374}</string>
                <key>spriteSourceSize</key>
                <string>{375,374}</string>
                <key>textureRect</key>
                <string>{{346,345},{375,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{346,345}</string>
                <key>textureRect</key>
                <string>{{1464,0},{346,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,374}</string>
                <key>spriteSourceSize</key>
                <string>{375,374}</string>
                <key>textureRect</key>
                <string>{{1096,345},{375,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{346,345}</string>
                <key>textureRect</key>
                <string>{{1118,0},{346,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,374}</string>
                <key>spriteSourceSize</key>
                <string>{375,374}</string>
                <key>textureRect</key>
                <string>{{721,345},{375,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>home_texture.png</string>
            <key>size</key>
            <string>{1810,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73319dac110ce30d73180b80aa57e1bc:eaceb585111ea5a5f8d93ebf8987b1db:595c0810b5eb9b1182d6029dec900a6e$</string>
            <key>textureFileName</key>
            <string>home_texture.png</string>
        </dict>
    </dict>
</plist>
